@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;500;600;700&display=swap');

body{
    font-family:'Noto Sans', 'Sans Serif';
    background:#fafafa;
}

#w_popup{
    position:fixed;
    top:0;
    left:0;
    background:rgba(0,0,0,0.6);
    width:100%;
    height:100%;
    z-index:1;
    display:none;
}

.w_modal{
    margin:auto;
    width:800px;
    height:600px;
    border:1px solid #efefef;
    display:flex;
    flex-direction:row;
    background:white;
    box-sizing: border-box;
    position:relative;
    z-index:2;
}

.w_modal-left{
    width:481.25px;
    display:flex;
    flex-direction:column;
}

.w_modal-text{
    width:370px;
    margin: auto;
    height:470px;
    text-align:center;
}

.w_modal-picture{
    width:319px;
    height:598px;
    display:block;
    margin-left:auto;
}

.w_logo{
    height:35px;
    width:210px;
}

.w_unlimited-digital-access{
    width:337px;
    font-size:20px;
    margin:auto;
    margin-top:30px;
    letter-spacing: 0.6px;
}

.w_price{
    font-size:48px;
    font-weight:bold;
    font-family:'Noto Serif', 'Sans Serif';
    margin: 0 auto;
    margin-top:3px;
    letter-spacing: -0.48px;
}

.w_description{
    font-size:26px;
    font-weight:600;
    margin-top:0px;
}

.w_claim-now{
    width:250px;
    height:60px;
    background:#292929 0% 0% no-repeat padding-box;
    color:white;
    font-weight:bold;
    font-size:18px;
    letter-spacing:1.8px;
    cursor:pointer;
    display:flex;
    margin:auto;
    margin-top:29px;
    text-decoration: none;
}
.w_claim-now > span{
    text-align:center;
    vertical-align:middle;
    margin:auto;
}

.w_maybe-later{
    box-sizing: border-box;
    margin-top: 0px;
    width:250px;
    height:60px;
    background:white;
    border:2px solid #292929;
    font-weight:bold;
    font-size:18px;
    letter-spacing:1.8px;
    color:#292929;
    display:flex;
    margin:auto;
    cursor:pointer;
    margin-top:-5px;
    text-decoration: none;
}
.w_maybe-later > span{
    text-align:center;
    vertical-align:middle;
    margin:auto;
}

.w_no-commitments{
    font-size:18px;
    margin-top:32px;
}
#w_overlay{
    position: fixed;
    display: none; /* Hidden by default */ 
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.5);
    z-index: 2;
    cursor: pointer;
}