@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;500;600;700&display=swap');

body{
    font-family:'Noto Sans', 'Sans Serif';
    background:#fafafa;
}

#w_popup{
    position:fixed;
    top:0;
    left:0;
    background:rgba(0,0,0,0.6);
    width:100%;
    height:100%;
    z-index:1;
    display:none;
}
.w_exit-modal{
    border:1px solid #efefef;
    width:600px;
    height:600px;
    margin:auto;
    background:white;
    box-sizing:border-box;
    display:flex;
    flex-direction:column;
    text-align:center;
}
.w_logo{
    height:35px;
    width:210px;
    margin:0 auto;
    margin-top:40px;
}
.w_time-running-out{
    width:337px;
    font-size:20px;
    margin:0 auto;
    margin-top:38px;
    letter-spacing: 0.6px;
    font-weight:bold;
    font-family:'Noto Sans', 'Sans Serif';
}
.w_you-are-close{
    font-size:18px;
    margin-top:16px;
}
.w_price{
    font-size:56px;
    font-weight:bold;
    font-family:'Noto Serif', 'Sans Serif';
    margin: 0 auto;
    margin-top:-4px;
    letter-spacing: -0.56px;
}
.w_when-you-subscribe{
    font-size:18px;
    margin-top:-12px;
}

#w_minsTicker{
    font-size:50px;
    margin: 0 auto;
    font-weight:500;
}
#w_secsTicker{
    font-size:50px;
    margin: 0 auto;
    font-weight:500;
}
.w_timer{
    display:flex;
    flex-direction:row;
    margin: 0 auto;
    margin-top:-20px;
    width:128px;
    justify-content:space-between;
    height:77px;
}
.w_minutes-timer{
    display:flex;
    flex-direction:column;
}
.w_seconds-timer{
    display:flex;
    flex-direction: column;
}
#w_minutesText, #w_secsText{
    font-size:12px;
    font-weight:500;
    margin-top:-6px;
}
.w_claim-now{
    width:250px;
    height:60px;
    background:#292929 0% 0% no-repeat padding-box;
    color:white;
    font-weight:bold;
    font-size:18px;
    letter-spacing:1.8px;
    cursor:pointer;
    display:flex;
    margin:auto;
    margin-top:32px;
    text-decoration: none;
}
.w_claim-now > span{
    text-align:center;
    vertical-align:middle;
    margin:auto;
}

.w_no-thanks{
    box-sizing: border-box;
    margin-top: 0px;
    width:250px;
    height:60px;
    background:white;
    border:2px solid #292929;
    font-weight:bold;
    font-size:18px;
    letter-spacing:1.8px;
    color:#292929;
    display:flex;
    margin:auto;
    cursor:pointer;
    margin-top:-40px;
    text-decoration: none;
}
.w_no-thanks > span{
    text-align:center;
    vertical-align:middle;
    margin:auto;
}
.w_logo-2{
    margin-top:70px;
}
.w_time-running-out-2{
    margin-top:37px;
}
.w_you-are-close-2{
    margin-top:15px;
}
.w_price-2{
    margin-top:-2px;
}
.w_when-you-subscribe-2{
    margin-top:-9px;
}
.w_claim-now-2{
    margin-top:24px;
}
.w_no-thanks-2{
    margin-top:-70px;
}
.colon{
    font-size:50px;
    margin: 0 auto;
    margin-right:12px;
    font-weight:500;
}